
header {
    background-color: rgb(76, 128, 239);
    height: 50px;
}

header img {
float: left;
width: 150px;
height: 120px;
}

.div h1, h3, h4 {
    position: relative;
    left: 50px;

}

section {
    margin-top: 50px;
    margin-bottom: 25px;
}
